// the global style
@import './vars.styl'
@import './common.styl'

.navgation-bar
  width 100px
  height 1rem
  background-color $primary 
  color #f6f6f6
  display flex
  align-items center

.navigation-bar-item
  padding 1rem